/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 1vh!important;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(182,251,150)!important;
  border-radius: 1vh;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #fff!important;
}

::-webkit-scrollbar {
  width: 5px;
}

@media (max-width: 1400px) {
  .blog-card-blank-col {
    display: none;
  }
}

.blog-card-blank-col {
}

.blog-list-card {
  padding: 3vw;
  border-radius: 27vw!important;
  font-size: 1.2vw;
}

.blog-land-card-btn:hover {
  border: none!important;
  background-color: rgb(33,37,41)!important;
  color: #fff!important;
}

@media (min-width: 768px) {
  blog-land-cards {
    display: none!important;
  }
}

.blog-land-card-btn {
  background-color: rgb(182,251,150);
  color: rgb(33,37,41);
  letter-spacing: 2px;
  font-size: 1.2vw;
  border: none!important;
}

@media (max-width: 1024px) {
  #carder3 {
    flex-direction: column-reverse;
  }
}

@media (max-width: 1024px) {
  #carder2 {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  #carder1 {
    flex-direction: column-reverse;
  }
}

#carder2 {
}

@media (max-width: 1024px) {
  .blog-list-card {
    border-radius: 2vw!important;
  }
}

.action-button {
  border: 2px solid #fff;
  background: transparent;
  border-radius: 10vw;
  color: #fff!important;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: 1px;
  padding: 2vh;
}

.action-button:hover {
  background: #fff!important;
  color: #313437!important;
}

.icon-links {
  text-align: center!important;
  text-decoration: none!important;
}

.icon-links:hover {
  background-color: #fff;
  color: #282d32!important;
  transition-duration: 0.4s;
}

.nav-link:focus, .nav-link:hover {
  color: #fff!important;
}

nav{
  padding:0px!important;
}

.nav-link:focus, .nav-link:hover {
  color: #fff!important;
}

.nav-link:focus {
  color: #fff!important;
}

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: #8c8b8b;
  margin: 3px 0px;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: translate(0px,5px) rotate(45deg);
  transform: translate(0px,5px) rotate(45deg);
}

.change .bar2 {
  opacity: 0;
}

.action-button {
}

.change .bar3 {
  -webkit-transform: translate(0px,-5px) rotate(-45deg);
  transform: translate(0px,-5px) rotate(-45deg);
}

.navbar-collapse {
  background: rgba(33,37,41);
  padding: 0vh;
  width: 100vw;
}

.nav-item:hover {
  border-bottom: 2px solid #fff;
  transition-duration: 0.4s;
}

@media (max-width: 1400px) {
  #the-problem {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 1400px) {
  #the-problem-image {
    width: 100%;
  }
}

@media (max-width: 1400px) {
  #the-problem-content {
    width: 100%;
  }
}

.order-6 {
  order: 6!important;
}

.world-cards {
  display: flex;
  height: 40vh;
  flex-direction: row;
}

@media (max-width: 1200px) {
  .world-cards {
    display: flex;
    height: fit-content;
    padding: 0!important;
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .world-cards-col-2 {
    width: 100%!important;
    height: 23%;
    min-height: 15vh;
    margin: 1% 0%!important;
    max-width: 100%!important;
  }
}

@media (max-width: 1200px) {
  .world-cards-col-1 {
    width: 100%!important;
    height: 23%;
    padding: 0!important;
    min-height: 15vh;
    margin: 1% 0%!important;
    max-width: 100%!important;
  }
}

@media (max-width: 1200px) {
  .world-cards-col {
    width: 100%!important;
    height: 23%;
    min-height: 15vh;
    margin: 2% 0%;
    padding: 0;
  }
}

.world-cards-col-1 {
  opacity: 1;
  padding: 0px;
  width: 100%;
  margin: 0.5%;
  max-width: 54%;
}

.world-cards-col-2 {
  opacity: 1;
  padding: 0px;
  width: 100%;
  max-width: 44%;
  margin: 0.5%;
}

@media (max-width: 1200px) {
  .world-container {
    height: max-content!important;
  }
}

.world-container {
  height: 40%;
  margin: 0px;
  max-width: 100%;
}

.world-cards-col- > div:hover {
  background: rgb(33,37,41)!important;
  transition: 0.4s;
  border: 1px solid #b6fb96;
  cursor: pointer;
}

.world-cards-col-2:hover {
  transition: 0.4s;
  border: 1px solid #b6fb96;
  cursor: pointer;
}

.world-cards-col-1:hover {
  transition: 0.4s;
  border: 1px solid #b6fb96;
  cursor: pointer;
}

.world-cards-col > div:hover {
  transition: 0.4s;
  border: 1px solid #b6fb96;
  cursor: pointer;
}

.world-cards-head {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 0;
  width: 100%;
  background: #00000070;
  min-height: 40%;
  font-family: Antic, sans-serif;
  align-items: center;
  padding: 2vh;
  vertical-align: middle;
}

.world-cards-col > div {
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 15vh;
}

.world-cards-col {
  background: transparent;
}

@media (max-width: 1400px) {
  #stats-internal-div {
    flex-direction: column;
  }
}

@media (max-width: 1400px) {
  #stats-internal-div > div {
    max-width: 90%!important;
    width: 100%!important;
    background: #212529!important;
  }
}

@media (max-width: 1400px) {
  .stats-internal-div-col {
    background: #b6fb96!important;
  }
}

@media (max-width: 1400px) {
  .solutions-row-2 {
    height: fit-content!important;
    max-width: 100%!important;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1400px) {
  .solutions-row {
    height: fit-content!important;
    max-width: 100%!important;
  }
}

@media (max-width: 1400px) {
  #solutions > div {
    height: fit-content!important;
  }
}

.footer-dark > .container {
}

@media (max-width: 1399px) {
  nav {
    width: 100%;
    justify-content: space-evenly;
  }
}

